<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title></title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
<link rel="stylesheet" href="/styles/styles.css">
<!-- <link rel="stylesheet" href="/styles/styles.css"> -->

</head>

<!-- <img src="/photos/campus.jpg" id="campus"> -->

<body class="container">

  
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- <img src="/photos/campus.jpg" id="campus"> -->
    </div>
    <div class="col-md-8 offset-md-2">
      <h1>Hello! Welcome to choose your own adventure game: UNA</h1>

    </div>
  </div> 


      <div class="row">
        <div class="col-md-8 offset-md-2">
        <div class="card">
      <form method="POST" action="/addName">
        <label for="name">Enter your name and click ready when done to start your story!</label>
        <input id="userInput" name="name" placeholder="new name">
        <br>
        <br>
        <input type="submit" value="add your name" />
      </form>
      <br>

      <form method="GET" action="/storyPage">
        <input type="submit" value="Ready!" />
      </form>
      <br>
      <form method="GET" action="/statusPage">
        <input type="submit" value="Check your status" />
      </form>
      </div>
    </div>
  </div>



<br>

<div class="footer">
  <p>Devs: Kristina Williams, Meghan Skelton, Rachel Thompson</p>
  <a href="https://github.com/mskel1/unaAdventures/wiki/meet-the-devs" target="_blank">Meet the devs: Wiki</a>
</div>






<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js'></script><script  src="./scripts/script.js"></script>

</body></html>
