html, body {
    height:100%;
    /* Disable Scroll */
    overflow:hidden;
  }
  
/* div {
    height: 100%;
  }  */

  a:link, a:visited {
    /* background-color: #f436de; */
    color: rgb(3, 3, 3);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: lightblue;
  }

  #logo{
    height: 100px;
  }